@tailwind base;
@tailwind components;
@tailwind utilities;

.slideFromRight {
  animation: slideFromRight 300ms ease-in;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
